{% load i18n %}
{% load markup_tags %}

<div class="category-{{ post.get_category }} tag-{{ post.tag }}">
	<a class="no-color-hover" href="{% url 'thoughts' %}posts/{{ post.slug }}">
		<h3 class="">{{ post.title }}</h3>
		<h5 class="subtitle">{{ post.subtitle }}</h5>
	</a>
	<p class="small margin bottom set-text-color to-gray"><small>{% trans 'by' %} {{ post.author }} {{ post.created_at|date:"d F Y" }}</small></p>

	<div class="small margin bottom"><a href="{% url 'thoughts' %}posts/{{ post.slug }}"><img class="margin bottom js-lazy" src="" data-original="{{ post.featured_image }}"></a>{{ post.body|truncatechars:100 }} <a href="{% url 'thoughts' %}posts/{{ post.slug }}">Read more.</a></div>
	<p>
		<span class="secondary label">{{ post.get_category }}</span>
	</p>
</div>