<figure id="hero" class="js-non-lazy row-wrapper cover {{ nav.hero_class }} hero" style="background-image: url({{ nav.hero_image|effect:'output=q:90/' }}); background-position: center center;" data-original="{{nav.hero_image}}">
	<video autoplay preload loop ng-if="nav.is_video">
		<source ng-src="{{ nav.intro.video_primary }}" type="video/mp4">
	</video>
	<div class="row" style="position: relative;" ng-if="nav.is_standard_hero">
		<h1 class="margin top standout-text">{{ nav.hero_title }}</h1><br>
		<h4 class="margin bottom standout-text" style="margin-left: 50px">{{ nav.hero_subtitle }}</h4>
	</div>
	<div class="row" ng-if="!nav.is_video && !nav.is_standard_hero">
		<h3 class="margin top bottom standout-text" >{{ nav.page.title }} <small>Category</small></h3>
	</div>
</figure>


