<div class="row">
    <div class="medium-masonry-1 large-masonry-3 margin bottom top" ng-bind-html="markdown(intro.body)" ></div>
    <row mycontent=mycontent></row>
</div>
<div class="background-color-1 pad pad-top margin top">
    <div class="row">
        <h4 class="margin bottom set-text-color to-white">Skills list</h4>
        <a ng-click="filter_el($event)" ng-repeat="skill_category in skill_categories" class="button small secondary" data-filter="{{ skill_category|slugify }}">{{ skill_category }}</a>
        <a ng-click="filter_el($event)" ng-repeat="skill_subcategory in skills_subcategories" class="button small secondary" data-filter-sub="{{ skill_subcategory|slugify }}">{{ skill_subcategory }}</a>
        <a ng-click="filter_el($event)" class="button small secondary active" data-filter="none">All</a>
        <div class="masonry small-masonry-1 medium-masonry-2 large-masonry-4">
            <div class="js-filter filter size-filter category-{{ skill.category|slugify }} subcategory-{{ skill.subcategory|slugify }}" ng-repeat="skill in skills_list">
                <skill></skill>
            </div>
        </div>
    </div>
</div>
<div class="background-color-2 pad pad-top">
    <div class="row">
            <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
                <ul class="orbit-container auto-height-for-small-only">
                    <li ng-repeat="job in job_history" class="orbit-slide {% if forloop.counter0 == 0 %}is-active{% endif %}">
                            <job job="job"></job>
                    </li>
                </ul>
                <nav class="orbit-bullets">
                    <button ng-repeat="job in job_history" class="{{ $index === 0 ? 'is-active' : '' }}" data-slide="{{$index}}"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                </nav>
            </div>
    </div>
</div>