<li>
    <a ui-sref-active="active" ui-sref="home">Home</a>
</li>
<li>
    <a ui-sref-active="active" ui-sref="more">More</a>
</li>
<li style="position:relative" role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-expanded="false" aria-label="Thoughts">
	<a ui-sref-active="active" ui-sref="thoughts">Thoughts</a>
	
	<ul class="menu vertical submenu nested first-sub">
		<li class="hide-for-medium"><a ui-sref-active="active" ui-sref="thoughts">All</a></li>
		<li ng-repeat="item in nav.post_categories"><a ui-sref-active="active" ui-sref="category({category: item.slug })">{{ item.name }}</a></li>
	</ul>
	
</li>
<li ng-controller="contactController">
    <a ng-if="nav.person.available" href="javascript:void(0)" ng-click="open()">Contact</a>
    <a ng-show="!nav.person.available" href="javascript:void(0)" class="has-tip" tooltip-placement="top" tooltip="{{ nav.person.unavailable_msg }}">Contact</a>
</li>
