<li>
    <a class="{{ nav.page.index }}" href="#">Home</a>
</li>
<li>
    <a class="{{ nav.page.more }}" href="#more">More</a>
</li>
<li style="position:relative" role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-expanded="false" aria-label="Thoughts">
	<a class="{{ nav.page.thoughts }}" href="#thoughts">Thoughts</a>
	
	<ul class="menu vertical submenu nested first-sub">
		<li class="hide-for-medium"><a class="{{ nav.page.thoughts }}" href="#thoughts">All</a></li>
		<li ng-repeat="item in nav.post_categories"><a class="{{ nav.page[item] }}" href="#thoughts/categories/{{ item|slugify }}">{{ item }}</a></li>
	</ul>
	
</li>
<li ng-show="nav.person.available" ng-controller="contactController">
    <a href="javascript:void(0)" ng-click="open()">Contact</a>
</li>
