<li>
    <a class="{{ page.index }}" href="#">Home</a>
</li>
<li>
    <a class="{{ page.more }}" href="#more">More</a>
</li>
<li style="position:relative" role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-expanded="false" aria-label="Thoughts">
	<a class="{{ page.thoughts }}" href="#thoughts">Thoughts</a>
	
	<ul class="menu vertical submenu nested">
		<li><a class="{{ page.thoughts }}" href="#thoughts">Thoughts</a></li>
		<li ng-repeat="post_category in post_categories"><a href="#thoughts/categories/{{ post_category|slugify }}">{{ post_category }}</a></li>
	</ul>
	
</li>
<li>
    <a href="javascript:void(0)" data-open="contact">Contact</a>
</li>
