<div class="background background-color-1 row-wrapper">
    <row mycontent="skills" class="row set-text-color to-white pad pad-bottom"></row>
</div>
<div class="row last">
	<div class="row">
		<div class="medium-8 column">
			<h4 class="margin top bottom">Education and Courses</h4>
			<div class="masonry small-masonry-1 medium-masonry-2 large-masonry-2">
				<course ng-repeat="course in courses"></course>
			</div>
			<h4 class="margin top bottom">{{ achievements.h1 }}</h4>
			<row mycontent="achievements" notitle="1" customclass="'small-masonry-1 medium-masonry-2 large-masonry-2'"></row>
		</div>
	</div>
</div>