<div id="full-menu" class="small-12 hide-for-small-only" data-sticky-container>
	<div class="top-bar in-grid small-12 not-sticky-yet--fakeclass" data-sticky data-top-anchor="full-menu" data-margin-top="0">
		<div class="row">
			<div class="top-bar-left">
				<ul class="dropdown menu" data-dropdown-menu>
					<li class="menu-text">{{ nav.title }}</li>
					<li id="00-eegg" style="position:relative" class="hide">
						<a href="#"><i class="icon i-cog"></i> @ {{ hostname }}</a>
						<ul class="menu vertical submenu">
							<li><a href="javascript: void(0)" data-open="icons" data-reveal-ajax="{% url 'icons' %}" >Show Icons</a></li>
							<li><a href="javascript: void(0)" onclick="$('body').showLoader(false);" >Open loader</a></li>
						</ul>
					</li>
	                <div ng-include="'static/js/angular/templates/menu-items.html'" include-replace></div>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="title-bar show-for-small-only">
	<a class="left-off-canvas-toggle menu-icon" ><span></span></a>
	<div class="title-bar-title">{{ nav.title }}</div>
</div>