<div class="text-center reveal vertical-center-container {{ extraClass }} text-center" id="{{ modalid }}" data-reveal data-animation-in="fade-in" data-animation-out="fade-out"><div class="vertical-center modal-wrapper">
		<div class="modal-title">		
			<button class="close-button set-text-color to-white" data-close aria-label="Close modal" type="button">
				<i class="icon i-cancel"></i>
			</button>
			<h5>{{ title }}</h5>
		</div>
		<div class="modal-content">
			<ng-transclude></ng-transclude>
		</div>
	</div>
</div> 