{% extends 'base.html' %}

{% load i18n %}
{% load markup_tags %}
{% load static from staticfiles %}
{% load compress %}

{% block head-css %}
	{{ block.super }}
	{% compress css %}
		<style>
			#hero{
				background-image: url({% static 'img/bg3.jpg' %});
				background-position: bottom center;
			}
		</style>
	{% endcompress %}
{% endblock %}

{% block body %}
	<figure id="hero" class="row-wrapper cover margin bottom">
		<div class="row">
			<h1 class="margin top standout-text">{{ intro.h1 }}</h1>
			<h3 class="margin bottom standout-text" style="margin-left: 50px">{{ intro.h2 }}</h3>
		</div>
	</figure>
	<div class="row">
		<div class="medium-masonry-1 large-masonry-3 margin bottom">{{ intro.body|apply_markup:"markdown" }}</div>
		<div class="row">
			{% if profile %}
				{% include 'home/partials/row.html' with mycontent=profile class="medium-6 column" %}
			{% endif %}		

			{% if skills %}
				{% include 'home/partials/row.html' with mycontent=skills class="medium-6 column" %}
			{% endif %}
		</div>
	</div>
	<div class="background-color-1 pad on-top margin top">
		<div class="row">
			{% if skills_list|length %}
				<h4 class="margin bottom set-text-color to-white">{% trans "Skills list" %}</h4>
				{% for skill_category in skill_categories %}
					<a href="#" class="button small secondary" data-filter="{{ skill_category.1|slugify }}">{{ skill_category.1 }}</a>
				{% endfor %}
				{% for skill_subcategory in skill_subcategories %}
					<a href="#" class="button small secondary" data-filter-sub="{{ skill_subcategory.0|slugify }}">{{ skill_subcategory.0 }}</a>
				{% endfor %}
					<a href="#" class="button small secondary active" data-filter="none">{% trans 'All' %}</a>
				<div class="masonry small-masonry-1 medium-masonry-2 large-masonry-4">
					{% for skill in skills_list %}{% include 'home/partials/skill.html' %}{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
	<div class="background-color-2 pad on-top">
		<div class="row">
			{% if job_history|length %}
				<h4 class="margin bottom">{% trans "Job History" %}</h4>
				<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-options="animInFromLeft:hinge-in-from-middle-x; animInFromRight:hinge-in-from-middle-x; animOutToLeft:hinge-out-from-middle-x; animOutToRight:hinge-out-from-middle-x;">
					<ul class="orbit-container auto-height-for-small-only">
						{% for job in job_history %}
							<li class="orbit-slide {% if forloop.counter0 == 0 %}is-active{% endif %}">
								{% include 'home/partials/job.html' %}
							</li>
						{% endfor %}
					</ul>
					<nav class="orbit-bullets">
						{% for job in job_history %}
							<button class="{% if forloop.counter0 == 0 %}is-active{% endif %}" data-slide="{{ forloop.counter0 }}"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
						{% endfor %}
					</nav>
				</div>
			{% endif %}	
		</div>
	</div>
	<div class="row last">
		{% if education %}
			<h4 class="margin top bottom">{% trans "Education and Courses" %}</h4>
			<div class="small-masonry-1 medium-masonry-2 large-masonry-3">
				{% for school in education %}
					{% include 'home/partials/education.html' %}
				{% endfor %}
			</div>
		{% endif %}				
		{% if achievements %}
			{% include 'home/partials/row.html' with mycontent=achievements class="large-6" %}
		{% endif %}
		
			<p class="large margin top">{% trans 'Interested' %}? <a class="button" href="javascript:void(0)" {% if not person.available %}data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{ person.unavailable_msg }}" disabled{% else %}data-open="contact" {% endif %}
				><i class="icon i-mail"></i> {% trans 'contact me' %}</a></p>
	</div>
	{% trans "Contact form" as contactform %}
	{% trans "Contact request sent" as contactformok %}

	{% include 'shared/modal.html' with modal_id="contact" modal_title=contactform modal_content="forms/contact-form.html" %}
	{% include 'shared/modal.html' with modal_id="contact-thank-you" extra_classes="tiny text-center" modal_title=contactformok modal_content="modals/contact-thank-you.html" %}
{% endblock %}