{% extends 'base.html' %}

{% load i18n %}
{% load markup_tags %}

{% block body %}
	<div class="row">
		<h1 class="margin top">{{ intro.h1 }}</h1>
		<h3 class="small margin bottom">{{ intro.h2 }}</h3>
		<div class="medium-masonry-1 large-masonry-3 margin bottom">{{ intro.body|apply_markup:"markdown" }}</div>
		
		<div class="row">
			{% if profile %}
				{% include 'home/partials/row.html' with mycontent=profile class="medium-6 column" %}
			{% endif %}		

			{% if skills %}
				{% include 'home/partials/row.html' with mycontent=skills class="medium-6 column" %}
			{% endif %}
		</div>
	</div>
	<div class="background-color-1 pad on-top margin top">
		<div class="row">
			{% if skills_list|length %}
				<h4 class="margin bottom set-text-color to-white">{% trans "Skills list" %}</h4>
				<div class="masonry small-masonry-1 medium-masonry-2 large-masonry-4 margin bottom">
					{% for skill in skills_list %}
						{% include 'home/partials/skill.html' %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="row">
			<div class="large-8 column">
				<div class="background-color-2 pad margin top">
					{% if job_history|length %}
						<h4 class="margin bottom">{% trans "Job History" %}</h4>
						<div class="small-masonry-1 large-masonry-2">
							{% for job in job_history %}
								{% include 'home/partials/job.html' %}
							{% endfor %}
						</div>
					{% endif %}	
				</div>		
			</div>
			<div class="large-4 column margin top">
				{% if education %}
					<h4 class="margin bottom">{% trans "Education and Courses" %}</h4>
					<div class="small-masonry-1 large-masonry-2">
						{% for school in education %}
							{% include 'home/partials/education.html' %}
						{% endfor %}
					</div>
				{% endif %}				
			</div>
		</div>
		{% if achievements %}
			{% include 'home/partials/row.html' with mycontent=achievements class="large-6" %}
		{% endif %}

		<p>{% trans 'Interested' %}?<a href="javascript:void(0)" data-open="contact"> {% trans 'contact me' %}</a></p>
		{% include 'shared/modal.html' with modal_id="contact" modal_title="contact form" modal_content="home/partials/contact-form.html" %}
	</div>
{% endblock %}