{% load static from staticfiles %}
{% load compress %}
{% load sass_tags %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link href="{% static 'vue/static/css/app.css' %}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="app" class="off-canvas-wrapper" >
		</div>
	</body>
	{% compress js %}
		<script type=text/javascript src="{% static 'vue/static/js/manifest.js' %}"></script>
		<script type=text/javascript src="{% static 'vue/static/js/vendor.js' %}"></script>
		<script type=text/javascript src="{% static 'vue/static/js/app.js' %}"></script>
	{% endcompress %}
</html>


