{% extends 'base.html' %}

{% load i18n %}
{% load markup_tags %}
{% load static from staticfiles %}

{% block head-css %}
	{{ block.super }}
	<style>
		#hero{
			background-image: url({% static 'img/bg2.jpg' %});
			background-position: bottom center;
		}

	</style>
{% endblock %}

{% block body %}
	<figure id="hero" class="row-wrapper cover">
		<div class="row">
			<h1 class="margin top standout-text">{{ intro.h1 }}</h1>
			<h3 class="margin bottom standout-text" style="margin-left: 50px">{{ intro.h2 }}</h3>
			<div class="medium-masonry-1 large-masonry-3 margin bottom set-text-color to-white">{{ intro.body|apply_markup:"markdown" }}</div>
		</div>
	</figure>
	<div class="row">
		<div class="row">
			{% if profile %}
				{% include 'home/partials/row.html' with mycontent=profile class="medium-6 column" %}
			{% endif %}		

			{% if skills %}
				{% include 'home/partials/row.html' with mycontent=skills class="medium-6 column" %}
			{% endif %}
		</div>
	</div>
	<div class="background-color-1 pad on-top margin top">
		<div class="row">
			{% if skills_list|length %}
				<h4 class="margin bottom set-text-color to-white">{% trans "Skills list" %}</h4>
				{% for skill_category in skill_categories %}
					<a href="#" class="button secondary" data-filter="{{ skill_category.1 }}">{{ skill_category.1 }}</a>
				{% endfor %}
					<a href="#" class="button secondary active" data-filter="none">{% trans 'All' %}</a>
				<div class="masonry small-masonry-1 medium-masonry-2 large-masonry-4">
					{% for skill in skills_list %}{% include 'home/partials/skill.html' %}{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
	<div class="row last">
		<div class="row">
			<div class="large-8 column">
				<div class="background-color-2 pad margin top">
					{% if job_history|length %}
						<h4 class="margin bottom">{% trans "Job History" %}</h4>
						<div class="small-masonry-1 large-masonry-2">
							{% for job in job_history %}
								{% include 'home/partials/job.html' %}
							{% endfor %}
						</div>
					{% endif %}	
				</div>		
			</div>
			<div class="large-4 column margin top">
				{% if education %}
					<h4 class="margin bottom">{% trans "Education and Courses" %}</h4>
					<div class="small-masonry-1 large-masonry-2">
						{% for school in education %}
							{% include 'home/partials/education.html' %}
						{% endfor %}
					</div>
				{% endif %}				
			</div>
		</div>
		{% if achievements %}
			{% include 'home/partials/row.html' with mycontent=achievements class="large-6" %}
		{% endif %}
		
			<p>{% trans 'Interested' %}? <a class="button" href="javascript:void(0)" {% if not person.available %}data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{ person.unavailable_msg }}" disabled{% else %}data-open="contact" {% endif %}
				> {% trans 'contact me' %}</a></p>
	</div>
	{% trans "Contact form" as contactform %}
	{% trans "Contact request sent" as contactformok %}

	{% include 'shared/modal.html' with modal_id="contact" modal_title=contactform modal_content="forms/contact-form.html" %}
	{% include 'shared/modal.html' with modal_id="contact-thank-you" modal_title=contactformok modal_content="modals/contact-thank-you.html" %}
{% endblock %}