{% load static from staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<link href="{% static 'vue/css/app.css' %}" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="app" class="off-canvas-wrapper" >
		</div>
	</body>
	<script type=text/javascript src="{% static 'vue/js/manifest.js' %}"></script>
	<script type=text/javascript src="{% static 'vue/js/vendor.js' %}"></script>
	<script type=text/javascript src="{% static 'vue/js/app.js' %}"></script>
</html>


