{% load static from staticfiles %}
{% load compress %}
{% load sass_tags %}

<!DOCTYPE html>
<html ng-app="myResume">
	<head>
		{% compress js %}
			<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/jquery.lazyload.js' %}"></script>
			<script>
				var DJ = {}, settings = {};
				DJ.static = function(url) {
					return ['{% static "/" %}',url].join('');
				};
				settings = {
					FILEPICKER_API_KEY: '{{ settings.FILEPICKER_API_KEY }}'
				};
			</script>
			<script type="text/javascript" src="{% static 'js/angular/angular.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/angular/marked.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/angular/angular-animate.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/angular/angular-foundation.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/angular/angular-touch.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/angular/angular-route.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/angular/angular-sanitize.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/angular/app.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/angular/directives/main.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/angular/controllers/controllers.js' %}"></script>
		{% endcompress %}
		{% verbatim %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ nav.page.title }} | Italo Mandara cv</title>
		<meta name="description" content="{{ nav.page.description }}">
		{% endverbatim %}
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700|Oswald" rel="stylesheet" />
		<link href="{% sass_src 'scss/app_ng.scss' %}" rel="stylesheet" type="text/css" />
		<link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
	</head>
	<body>
		<div class="off-canvas-wrapper" ng-include="'static/js/angular/templates/base.html'">
		</div>
	</body>
</html>


