{% load static from staticfiles %}
{% load compress %}
{% load sass_tags %}

<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700|Oswald" rel="stylesheet" />
		{# <link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" /> #}
	</head>
	<body>
		<div id="app" class="off-canvas-wrapper">
		</div>

		<script type="text/javascript" src="{% static 'js/vue/static/js/manifest.d134fed4fc6c0028b9e3.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/vue/static/js/vendor.d342f1b6a51b96dd6b21.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/vue/static/js/app.ad52d7e09ccff816be89.js' %}"></script>
	</body>
</html>


