{% extends 'base.html' %}

{% load i18n %}
{% load markup_tags %}
{% load static from staticfiles %}
{% load compress %}

{% block head-css %}
	{{ block.super }}
	{% compress css %}
		<style>
			#hero{
				background-image: url({% if intro.image_primary %}{{ intro.image_primary }}{% else %}{% static 'img/bg.jpg' %}{% endif %});
				background-position: center center;
			}
		</style>
	{% endcompress %}
{% endblock %}

{% block hero %}
    {% include 'shared/hero.html' with hero_title=intro.h1 hero_subtitle=intro.h2 %}
{% endblock %}

{% block body %}
	<div class="row last">
		{% if education %}
			<h4 class="margin top bottom">{% trans "Education and Courses" %}</h4>
			<div class="small-masonry-1 medium-masonry-2 large-masonry-3">
				{% for school in education %}
					{% include 'home/partials/education.html' %}
				{% endfor %}
			</div>
		{% endif %}				
		{% if achievements %}
			{% include 'home/partials/row.html' with mycontent=achievements class="small-masonry-1 medium-masonry-2 large-masonry-3" %}
		{% endif %}
	</div>
{% endblock %}