{% extends 'thoughts/index.html' %}

{% load i18n %}
{% load markup_tags %}
{% load static from staticfiles %}
{% load compress %}

{% block head-css %}
	{{ block.super }}
	{% compress css %}
		<style>
			#hero{
				background-image: url({% if category_image %}{{ category_image }}{% else %}{% static 'img/bg_blog.jpg' %}{% endif %});
				background-position: center center;
			}
		</style>
	{% endcompress %}
{% endblock %}

{% block body %}
	<figure id="hero" class="row-wrapper cover margin bottom hero">
		<div class="row">
			<h3 class="margin bottom standout-text" style="margin-left: 50px">{{ page.title }} <small>{% trans 'Category' %}</small></h3>
		</div>
	</figure>
	<div class="row">
		<div class="medium-masonry-1 large-masonry-3 large margin bottom">{{ intro.body|apply_markup:"markdown" }}</div>
	</div>
	
	<div class="row last">
		{% if posts %}
			<div class="medium-masonry-1 large-masonry-2 margin bottom">
				{% for post in posts %}
					{% include 'thoughts/partials/post.html' %}
				{% endfor %}
			</div>
		{% endif %}
	</div>
{% endblock %}