{% extends 'base.html' %}

{% load i18n %}
{% load markup_tags %}
{% load static from staticfiles %}
{% load compress %}

{% block footer-css %}
	{{ block.super }}
	{% compress css %}
		<style>
			#hero{
				background-image: url({{ post.featured_image }});
				background-position: center center;
			}
		</style>
	{% endcompress %}
{% endblock %}

{% block hero %}
    {% include 'shared/hero.html' with hero_title=post.title hero_subtitle=post.subtitle %}
{% endblock %}

{% block body %}	
	<div class="row last">
		<p class="small-12 column small margin bottom top set-text-color to-gray"><small>{% trans 'Posted by' %} {{ post.author }} {% trans 'on' %} <em>{{ post.created_at|date:"d F Y" }}</em></small></p>
		<div class="medium-4 large-6 column small margin bottom">
			<div class="row">
				{% if post.article_image1 %}<div class="{% if post.article_image1 and post.article_image2 %}small-6 medium-12 column{% else %}small-12 column{% endif %}"><img class="margin bottom thumbnail xsmall margin bottom" src="{{ post.article_image1 }}"></div>{% endif %}
				{% if post.article_image2 %}<div class="{% if post.article_image1 and post.article_image2 %}small-6 medium-12 column{% else %}small-12 column{% endif %}"><img class="margin bottom thumbnail xsmall margin bottom" src="{{ post.article_image2 }}"></div>{% endif %}
			</div>
		</div>
		<div class="medium-8 large-6 column">
			<div class="medium-masonry-1 large-masonry-2 small margin bottom">{{ post.body|apply_markup:"markdown" }}</div>
			<p>
				<span class="secondary label">{{ post.get_category }}</span>
			</p>
		</div>
	</div>
{% endblock %}