.top-bar.in-grid{
        padding: {
            left: 0;
            right: 0; 
        }
    .row{
        @extend %row-template;
    }
    .menu-text {
         padding: {
            left: 0;
        }
    }
}

.top-bar .menu > li > a{
    color: $dark-gray;
    font-size: rem-calc(14);
    &.active{
        color: $black;
    }
}