<form name="contactform" class="simple-form" ng-submit="postJSON(contactform.$valid, $event)" style="width: 100%;" data-abide novalidate>
    <p>
        To send me a contact request please fill in all fields and submit the form. Fields marked with a
        <span class="hilight">*</span>
        must be filled in to submit the form.
    </p>
    <div data-abide-error ng-show="contactform.$invalid && submitted" class="alert callout">
        <p><i class="icon i-attention"></i>There are some errors in your form.</p>
    </div>
    <div class="row">
        <div class="medium-6 column">
            <field model=model name="'name'" field="form.name" error="required" >
        </div>
        <div class="medium-6 column">
            <field model=model name="'phone'" field="form.phone" error="phone" >
        </div>
    </div>
    <div class="row margin bottom">
        <div class="medium-6 column">
            <field model=model name="'company'" field="form.company" >
        </div>
        <div class="medium-6 column">
            <field model=model name="'email'" field="form.email" error="email" >
        </div>
    </div>
    <div class="row">
        <div class="small-12 column">
            <field model=model name="'message'" field="form.message" error="required" >
        </div>
        <div class="small-12 medium-2 column">
            <button type="submit" class="button expand" >Send</button>
        </div>
    </div>
    <div class="row small-up-4 text-center set-text-color to-gray margin top" >
        <div class="column text-left"><i class="icon i-linkedin"></i> <span class="hide-for-small-only">linkedin</span></div>
        <div class="column"><i class="icon i-codeopen"></i> <span class="hide-for-small-only">codepen</span></div>
        <div class="column"><i class="icon i-skype"></i> <span class="hide-for-small-only">skype</span></div>
        <div class="column text-right"><i class="icon i-github-circled-alt2"></i> <span class="hide-for-small-only">github</span></div>
    </div>
</form>
