<div class="row last">
	<p class="small-12 column small margin bottom top set-text-color to-gray"><small>Posted by {{ post.author }} on <em>{{ post.created_at|date:"d MMM yyyy" }}</em></small></p>
	<div class="small-12 column small margin bottom">
		<div ng-controller="orbitController">
			<div class="orbit" role="region" aria-label='Posted by {{ post.author }} on {{ post.created_at|date:"d MMM yyyy" }}' data-orbit>
				<ul class="orbit-container auto-height-for-small-only">
					<li ng-if="post.article_image1" class="orbit-slide is-active"><img class="js-lazy margin bottom xsmall" ng-src="{{ post.article_image1|effect:'resize=width:350/output=q:30/' }}" data-original="{{ post.article_image1|resize:'width:700' }}"></li>
					<li ng-if="post.article_image2" class="orbit-slide"><img class="js-lazy margin bottom xsmall" ng-src="{{ post.article_image2|effect:'resize=width:350/output=q:30/' }}" data-original="{{ post.article_image2|resize:'width:700' }}"></li>
				</ul>
				<nav class="orbit-bullets">
				</nav>
			</div>
		</div>
		<div class="medium-masonry-1 large-masonry-2 small margin bottom" ng-bind-html="markdown(post.body)">
		</div>
		<p>
			<span class="secondary label">{{ post.get_category }}</span>
		</p>
	</div>
</div>
