{% load sass_tags %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
 			{% block page-title%}
			<title>{% block page-title-prefix%}{{ page.title }}{% endblock %} @ Italo Mandara cv</title>
			{% endblock %}
			{% block page-meta%}
			<meta name="description" content="{% block page-meta-description%}{{ page.description }}{% endblock %}">
			{% endblock %}
			{% block head-css %}
			<link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
			<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
			{% endblock %}
			{% block head-js%}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block header-body %}
		{% include 'shared/header.html' %}
		{% endblock %}
		{% block body %}
		{% endblock %}
		{% block footer-body %}
		{% endblock %}
		{% block footer-js %}
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
		<script type="text/javascript">$(document).foundation()</script>
		{# <script type="text/javascript" src="{% static 'app.js' %}"></script> #}
		{# <script type="text/javascript" src="{% static 'motion-ui.js' %}"></script> #}
		{% endblock %}
	</body>
</html>


