{% extends 'core.html' %}

{% block outer-body %}
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
            <!-- Menu -->
            <ul class="vertical menu">
                {% include 'shared/menu-items.html' %}
            </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            {% block header-body %}
                {% include 'shared/header.html' %}
            {% endblock %}
            {% block hero %}
            {% endblock %}
            {% block body %}
            {% endblock %}
            {% block footer-body %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
