{% load sass_tags %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Oxygen:300" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		{% block header-body %}
		{% include 'header.html' %}
		{% endblock %}
		{% block body %}
		{% endblock %}
		{% block footer-body %}
		{% endblock %}
		{% block footer-js %}
		<script type="text/javascript" src="{% static 'app.js' %}"></script>
		{% endblock %}
	</body>
</html>


