{% load i18n %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
 			{% block page-title%}
			<title>{% block page-title-prefix%}{{ page.title }}{% endblock %} @ Italo Mandara cv</title>
			{% endblock %}
			{% block page-meta%}
			<meta name="description" content="{% block page-meta-description%}{{ page.description }}{% endblock %}">
			{% endblock %}
			{% block head-css %}
				<link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
			{% endblock %}
			{% block head-js%}
					<script>
						var GLOBALS = {
							csrf: '{{ csrf_token }}',
							ajaxCache: true,
						};
						var django = {
							_static: function(path) {
								return '{% static '' %}' + path;
							}
						};
					</script>
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block outer-body %}
		{% endblock %}
		{% block modals %}
			{% trans "Contact form" as contactform %}
			{% include 'shared/modal.html' with modal_id="contact" modal_title=contactform modal_content="forms/contact-form.html" %}	
			{% trans "Contact request sent" as contactformok %}
			{% include 'shared/modal.html' with modal_id="contact-thank-you" extra_classes="tiny text-center" modal_title=contactformok modal_content="modals/contact-thank-you.html" %}
			{% trans "Icons" as icons_text %}
			{% include 'shared/modal.html' with modal_id="icons" extra_classes="medium text-center" modal_title=icons_text %}
		{% endblock %}
		{% block footer-css %}
			<link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700|Oswald" rel="stylesheet" />
		{% endblock %}
		{% block footer-js %}
		{% endblock %}
	</body>
</html>


