{% extends 'base.html' %}
{% block hero %}
{% set hero_title=intro.h1 %}
{% set hero_subtitle=intro.h2 %}
{% set type="video" %}
{% set class="background-video" %}
    {% include 'shared/hero.html' %}
{% endblock %}
{% block body %}
	<div class="row">
		<div class="medium-masonry-1 large-masonry-3 margin bottom top">{{ intro.body }}</div>
		{% if profile %}
			{% set mycontent=profile %}
			{% include 'home/partials/row.html' %}
		{% endif %}		
	</div>
	<div class="background background-color-1 pad pad-top margin top">
		{% include 'home/partials/skillslist.html' %}
	</div>
	<div class="background background-color-2 pad pad-top">
		{% include 'home/partials/jobhistory.html' %}
	</div>
{% endblock %}
