<div class="top-bar in-grid" class="sticky">
	<div class="row">
		<div class="top-bar-left">
			<ul class="dropdown menu" data-dropdown-menu>
				<li class="menu-text">{{ person.name }} {{ person.lastname }}'s resume</li>
				<li id="00-eegg" style="position:relative" class="hide">
					<a href="#"><i class="icon i-cog"></i> @ {{ hostname }}</a>
					<ul class="menu vertical">
						<li><a href="javascript: void(0)" onclick="$('body').showLoader(false);" >Open loader</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>