<li>
    <a {% if page.name == 'index' %}class="active" {% endif %} href="{% url 'index' %}">Home</a>
</li>
<li>
    <a {% if page.name == 'more' %}class="active" {% endif %} href="{% url 'more' %}">More</a>
</li>
<li style="position:relative" role="menuitem" class="is-dropdown-submenu-parent opens-right" aria-haspopup="true" aria-expanded="false" aria-label="Thoughts">
	<a {% if page.name == 'thoughts' or page.name == 'thoughts-detail' %}class="active" {% endif %} href="{% url 'thoughts' %}">Thoughts</a>
	{% if post_categories %}
	<ul class="menu vertical submenu">
		{% for post_category in post_categories %}
		<li><a href="{% url 'thoughts' %}categories/{{ post_category.1|slugify }}">{{ post_category.1 }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
</li>
<li>
    <a href="javascript:void(0)" {% if not person.available %}data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{ person.unavailable_msg }}" disabled{% else %}data-open="contact" {% endif %}>Contact</a>
</li>
