@charset 'utf-8';

@import 'myresume/partials/colors';

@import 'foundation-sites/scss/app.scss';

@import 'myresume/partials/variables';
@import 'myresume/partials/mixins';
@import 'myresume/overrides/dropdown-menu_override';
// @import 'myresume/overrides/accordion-menu_override';

@include foundation-everything();

@import 'myresume/myresume';
@import 'font/css/fontello.scss';

$motion-ui-classes: (
          chain: true,
          prefix: 'ng-',
          active: '-active',
        );

        // @import 'foundation-sites/scss/motion-ui';

        .tooltip {
            @include mui-fade(
              $state: in,
              $duration: 0.25s,
              $delay: 0s
            );
        }

        .tooltip {
            @include mui-fade(
                $state: out,
                $from: 1,
                $to: 0,
                $duration: 0.25s,
                $delay: 0s
            );
        }

        .reveal-overlay {
            @include mui-fade($state: in);
        }

        .reveal-overlay {
            @include mui-fade(
                $state: out,
                $from: 1,
                $to: 0
            );
        }

        .reveal {
            @include mui-slide(
                $state: in, // Specify in or out
                $direction: down, // Can be top, right, bottom, or left
                $fade: true, // If true, the element fades simultaneously
                $duration: 0.25s,
                $timing: cubic-bezier,
                $delay: 0s
            );
        }

        .reveal {
            @include mui-fade(
                $state: out,
                $from: 1,
                $to: 0,
                $duration: 0.25s
            );
        }