@import 'partials/variables';
@import 'partials/placeholders';
@import 'partials/mixins';

@include responsiveMasonry()

.margin{
    &.adjust-top{
        margin-top: -0.4em;
    }

    &.none:not(.bottom):not(.top) {
        margin: 0;
    }

    &.bottom{
        margin-bottom: $my-global-margin;
        &.none {
            margin-bottom: 0;
        }
    }
    &.top {
        margin-top: $my-global-margin;
        &.none {
            margin-top: 0;
        }
    }
    &.xsmall{
        &.bottom {
            margin-bottom: $my-global-margin/4;
        }
        &.top {
            margin-top: $my-global-margin/4;
        }
    }
    &.small{
        &.bottom {
            margin-bottom: $my-global-margin/2;
        }
        &.top {
            margin-top: $my-global-margin/2;
        }
    }
    &.medium{
        &.bottom{
            margin-bottom: $my-global-margin*1.5;
        }
        &.top{
            margin-top: $my-global-margin*1.5;
        }
    }
    &.large{
        &.bottom{
            margin-bottom: $my-global-margin*2;
        }
        &.top{
            margin-top: $my-global-margin*2;
        }
    }
    &.xlarge{
        &.bottom{
            margin-bottom: $my-global-margin*2;
        }
        &.top{
            margin-top: $my-global-margin*2;
        }
    }
}

body {
    >.row, >div:not(.row)>.row {
    	padding: 0 $my-minimum-row-margin;
    }
}

.row.last{
    padding-bottom: $my-minimum-row-margin;
}

.set-text-color{
    &.to-white{
        color: white;
    }
    &.to-black{
        color: $black;
    }
    &.to-gray{
        color: $medium-gray;
    }
    &.to-light-gray{
        color: $light-gray;
    }
    &.to-dark-gray{
        color: $dark-gray;
    }
}

.widget{
    padding: $callout-padding;
    background-color: $light-gray;
    
    border: none;
    box-shadow: 0 0 $global-shadow-size $global-shadow-color;
    &:nth-child(odd){
        border-radius: $local-radius 0 $local-radius 0;
    }
    &:nth-child(even){
        border-radius: 0 $local-radius 0 $local-radius;
    }
}

.callout.alert{
    background-color: transparent;
    border-color: $alert-color;
    // border-width: 3px;
    color: $alert-color;
}

.masonry{
    > .callout, > div > .callout{
        margin: $global-shadow-size $global-shadow-size 0;
    }
}


.background-color-1{
    background-color: $background-color-1;
}
.background-color-2{
    background-color: $background-color-2;
}

.pad{
    padding: $my-global-margin;
    &.on-top{
        padding: {
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &.on-bottom{
        padding: {
            left: 0;
            right: 0;
            top: 0;
        }
    }
    &.horizontal{
        padding: {
            left: 0;
            right: 0;
        }
    }
}

h1,h2,h3,h4,h5,p,.button{
    &:last-child{
        margin-bottom: 0;
    }
}

input[type=text], input[type=number], input[type=password], input[type=email]{
    border:{
        top: none;
        left: none;
        right: none;
    }
    background-color: transparent;
    &:focus{ 
        border: {
            top: none;
            left: none;
            right: none;
            bottom-color: $black;
        }
        background-color: transparent;
    }
}

textarea{
    resize: vertical;
}

.modal-title{
    padding: $my-global-margin/2 $my-global-margin;
    background-color: $dark-gray;
    color: white;
}
.modal-content{
    padding: $my-global-margin/2 $my-global-margin;
}
.reveal-overlay{
    text-align: center;
}
.reveal{
    text-align: left;
    position: static;
    top: 0 !important;
    margin-top: 0 !important;
    max-height: none !important;
    height: 100%;
    overflow: visible;
    background-color: transparent;

    &:focus{
        outline: none;
        box-shadow: none;
    }

    .row {
        margin: {
            left: -$grid-column-gutter/2;
            right: -$grid-column-gutter/2;
        } 
    }
    
}
.modal-wrapper{
    background-color: $reveal-background;
    position: relative;
    // box-shadow: 0 0 20px $global-shadow-color;
}


.vertical-center-container{
    white-space: nowrap;
    &:before{
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}
.vertical-center{
    display: inline-block;
    vertical-align: middle;
    white-space: initial;
}


%row-template{
        padding: {
        left: $my-minimum-row-margin;
        right: $my-minimum-row-margin; 
    }
    margin: 0 auto;
}

.top-bar.in-grid{
        padding: {
            left: 0;
            right: 0; 
        }
    .row{
        @extend %row-template;
    }
    .menu-text {
         padding: {
            left: 0;
        }
    }
}

.cover{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row-wrapper{
    margin: 0;
    width: 100%;
    .row{
        @extend %row-template;
    }
}

.standout-text{
    display: inline-block;
    background: rgba($primary-color, 0.5);
    padding: 0.5rem 1rem;
    margin-bottom: 0;
}


.opacity-filter{
    @extend %filter-transitions;
    opacity: 1;
    &.invisible{
        opacity: 0.5;
        >div{
            opacity: 1;
        }
    }
}

.normal-filter.invisible {
    display: none;
}


.size-filter{
    @extend %filter-transitions;
    max-height: 1000px;
    max-width: 100%;
    &.invisible{
        max-width: 0;
        max-height: 0;
        padding: 0;
        margin: 0;
    }
}

.button.secondary.active{
    background-color: $secondary-active-color;
}

i.icon{
    font-size: rem-calc(14);
    &.small-icon{
        font-size: rem-calc(12);
    }
    &.large-icon{
        font-size: rem-calc(16);
    }
}

.loader{
    @extend .icon;
    @extend .i-hourglass;
    @extend %fit-in-container;

    background-color: rgba($primary-color, 0.5);
    color: white;
    position: absolute;
    text-align: center;
    font-size: 1rem;

    &:before{
        display: inline-block;
        vertical-align: middle;
        @extend .spin-cw;
        @extend .infinite;
    }

    &:after{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}