$my-red: #FFA953;
$my-beige: #D9CB9E;
$my-dark: #374140;
$my-petrol: #2A2C2B;
$my-black: #1E1E20;

$my-warning: #DCAC00;
$my-success: #1f5e49;
$my-white: #ffffff;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-medium-gray: #999;
$dark-gray: #8a8a8a;
$darker-gray: #777;

$black: #222222;
$white: #fefefe;