input[type=text], input[type=number], input[type=password], input[type=email]{
    border:{
        top: none;
        left: none;
        right: none;
    }
    background-color: transparent;
    &:focus{ 
        border: {
            top: none;
            left: none;
            right: none;
            bottom-color: $black;
        }
        background-color: transparent;
    }
}

textarea{
    resize: vertical;
}