@include responsiveMasonry;

.masonry {
    > div {
        display: inline-block;
        width: 100%;
        margin-bottom: $my-gutter;
    }

    > div.ng-binding {
        display: inline !important;
    }
}