.off-canvas-wrapper{
	// height: 100%;
	.off-canvas-wrapper-inner {
		&.is-off-canvas-open {
		    overflow-y: visible;
		}
	}
}

.vertical.menu{
	padding: 10px 5px;
	> li > a{
	    color: $dark-gray;
	    font-weight: $global-weight-bold;
	    font-size: rem-calc(14);
	    padding: 0.5rem 1rem;
	    &.active{
	        color: $primary-color;
	    }
	    &:hover{
	        color: $primary-color;
	    }
	}
}