$global-border-radius: 1px;
$global-shadow-size: 3px;
$global-shadow-color: rgba(0,0,0,0.7);

$my-gutter-small: nth(nth($grid-column-gutter,1),2);
$my-gutter: nth(nth($grid-column-gutter,2),2);

$my-global-margin-small: $my-gutter-small;
$my-global-margin: $my-gutter;


$my-minimum-row-margin-small: $my-global-margin-small*4;
$my-minimum-row-margin: $my-global-margin*4;
$global-transition-time: 0.5s;
$secondary-active-color: $primary-color;
$local-radius: 5px;
$local-overlay-opacity: 0.85;
// $paragraph-font-size: rem-calc(15);
$fast-transition: 0.25s;
$ui-foremost: 10;
$small-text: 0.8rem;
$widget-padding: nth($callout-padding,1);
$accordionmenu-arrows-type: "icon";
$accordionmenu-arrows-icon-class: ('.icon', '.i-angle-down');
