$background-color-1: $dark-gray;
$background-color-2: $primary-color;
$global-border-radius: 1px;
$global-shadow-size: 3px;
$global-shadow-color: rgba(0,0,0,0.7);
$my-global-margin: $grid-column-gutter;
$my-minimum-row-margin: $my-global-margin;
$global-transition-time: 0.5s;
$secondary-active-color: $primary-color;
$local-radius: 5px;
$local-overlay-opacity: 0.85;